

.panel {
    margin: 0 0 1.5rem;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    position: relative;
    display: block;
    height: auto;
    margin: 0 0 1.5rem;
    padding: 1.25rem;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.1);
    box-shadow: 0 0 8px rgba(32, 32, 32, 0.1);
    background: #fefefe;
}